.bottom-banner {
  @include center;
  background-color: $red;
  width: 100%;
  position: relative;
  z-index: 0;
  overflow: hidden;
  
  &_container {
    @include center(column);
    gap: 2rem;
    padding: 5rem 2rem;
    width: 100%;
    max-width: 70rem;
    
    &_header {
      color: $white;
      text-align: center;
      font-size: 2.25rem;
      z-index: 1;

      &:before {
        content: url("/bg-tablet-pattern.svg");
        position: absolute;
        z-index: -1;
        opacity: 0.1;
        width: fit-content;
        zoom: 50%;
        top: 5rem;
        left: -38rem;
        transition-duration: 200ms;
      }
    }
  }
}

@media (min-width: 769px) {
  .bottom-banner {
    &_container {
      flex-direction: row;
      justify-content: space-between;
      
      &_header {
        max-width: 30rem;
        text-align: left;

        &:before {
          zoom: 80%;
          top: -4rem;
          left: 10rem;
          overflow: hidden;
        }

        &:after {
          content: url("/bg-tablet-pattern.svg");
          position: absolute;
          z-index: -1;
          opacity: 0.1;
          width: fit-content;
          zoom: 60%;
          top: -33rem;
          right: -30rem;
          transition-duration: 200ms;
        }
      }
    }
  }
}