.footer {
  @include center;
  background-color: $darkBlue;
  padding: 2rem;
  width: calc(100% - 4rem);
  
  &_container {
    @include center(column);
    gap: 3rem;
    width: 100%;
    max-width: 70rem;

    &_subscribe {
      &_form {
        display: flex;
        justify-content: space-between;
        gap: 0.5rem;
        width: 100%;
      }
  
      input {
        border: none;
        border-radius: 30px;
        padding: 1rem 1.5rem 0.75rem 1.5rem;
        font-size: 0.75rem;
        width: 100%;
        color: $red;

        &:focus {
          outline: none !important;
          border:1px solid $red;
        }
  
        &::placeholder {
          color: $grey;
        }
      }

      p {
        position: absolute;
        font-style: italic;
        font-size: 0.75rem;
        margin-left: 1rem;
      }

      &_message-error {
        color: $red;
      }
    }
  
    &_items {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 3rem;
      
      &_left, &_right {
        display: flex;
        flex-direction: column;
        gap: 1rem;
      }
  
      a {
        color: $white;
        width: 7rem;
        transition-duration: 200ms;
  
        &:hover {
          color: $red;
        }
      }
    }
  
    &_socials {
      display: flex;
      flex-direction: row;
      gap: 2rem;
  
      img {
        width: 2rem;
        cursor: pointer;
        // transition-duration: 200ms;
  
        &:hover {
          filter: invert(45%) sepia(80%) saturate(2522%) hue-rotate(340deg) brightness(101%) contrast(90%);
        }
      }
    }
  
    &_copyright {
      font-size: 0.75rem;
    }
  
    .button {
      box-shadow: none;
    }
  }

}

@media (min-width: 769px) {
  .footer {
    padding-top: 4rem;
    padding-bottom: 5rem;

    &_container {
      display: grid;
      grid-template-columns: 3fr 4fr 3fr;
      grid-template-rows: 1fr 1fr;
  
      &_subscribe {
        grid-column: 3;
        grid-row: 1;
      }
  
      &_items {
        grid-column: 2;
        grid-row: span 2;
        gap: 0;
      }
  
      &_logo {
        grid-column: 1;
        grid-row: 1;
      }
  
      &_socials {
        grid-column: 1;
        grid-row: 2;
        gap: 0.75rem;

        img {
          width: 1.5rem;
        }
      }
      
      &_copyright {
        grid-column: 3;
        grid-row: 2;
        text-align: right;
      }
    }
  }
}