.hero {
  @include center(column);
  flex-direction: column-reverse;
  gap: 2rem;
  text-align: center;
  padding: 4rem 2rem 2rem 2rem;

  &:before {
    content: url("/bg-tablet-pattern.svg");
    position: absolute;
    z-index: -10;
    // border: solid 3px rebeccapurple;
    width: fit-content;
    zoom: 50%;
    top: -10rem;
    right: -12rem;
    transition-duration: 200ms;
  }

  &_image {
    display: flex;
    max-width: 22rem;

    img {
      object-fit: cover;
      width: 100%;
    }
  }

  &_main {
    @include center(column);

    &_header {
      font-size: 2.25rem;
    }

    &_description {
      max-width: 22rem;
      margin: 0.5rem 0 2rem 0;
    }
  }
  
  @media (min-height: 700px) {
    height: calc(100vh - 6rem);
  }
  
  @media (min-width: 769px) {
    $marginTop: 3rem;
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0;
    text-align: left;
    max-width: 70rem;
    margin-top: $marginTop;

    &:before {
      zoom: 95%;
      top: -11rem;
      right: -7rem;
    }
  
    &_image {
      grid-column: 2;
      max-width: none;
    }
  
    &_main {
      grid-column: 1;
      align-items: flex-start;
  
      &_header {
        font-size: 3rem;
      }
  
      &_description {
        margin-top: 1rem;
      }
    }
    
    @media (min-width: 769px) and (min-height: 700px) {
      padding: 0 2rem;
      height: calc(100vh - $marginTop);
    }
  }
}


