.hero {
  @include center(column);
  flex-direction: column-reverse;
  gap: 2rem;
  text-align: center;
  padding: 4rem 2rem 2rem 2rem;
  height: calc(100vh - 6rem);

  &_image {
    display: flex;
    max-width: 22rem;

    img {
      object-fit: cover;
      width: 100%;
    }
  }

  &_main {
    @include center(column);

    &_header {
      font-size: 2.25rem;
    }

    &_description {
      max-width: 22rem;
      margin: 0.5rem 0 2rem 0;
    }
  }
}

@media (min-width: 769px) {
  
  .hero {
    $marginTop: 3rem;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0;
    text-align: left;
    max-width: 70rem;
    padding: 0 2rem;
    margin-top: $marginTop;
    height: calc(100vh - $marginTop);

    &_image {
      grid-column: 2;
      max-width: none;
    }

    &_main {
      grid-column: 1;
      align-items: flex-start;

      &_header {
        font-size: 3rem;
      }

      &_description {
        margin-top: 1rem;
      }
    }
  }
}