.offers {
  display: flex;
  flex-direction: column;

  &_main {
    @include center(column);
    gap: 1rem;
    text-align: center;
    padding: 1rem 2rem 3rem 2rem;

    &_header {
      font-size: 1.75rem;
    }

    &_description {
      font-size: 0.85rem;
      max-width: 21rem;
    }
  }

  &_list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    &_item {
      &_header {
        display: flex;
        align-items: center;
        gap: 1rem;
        background-color: $transparentRed;
        font-size: 0.6rem;
        margin-left: 1rem;
        border-radius: 30px 0 0 30px;

        &_number {
          background-color: $red;
          color: $white;
          padding: 0.5rem 1.5rem;
        }
      }

      &_description {
        font-size: 0.85rem;
        padding: 1rem;
      }
    }
  }
}

@media (min-width: 769px) {
  .offers {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 70rem;
    padding: 0 2rem;
    gap: 1rem;

    &_main {
      justify-content: flex-start;
      align-items: flex-start;
      text-align: left;
      padding: 0;

      &_header {
        font-size: 2.25rem;
      }

      &_description {
        font-size: 1rem;
      }
    }

    &_list {
      margin: 0;
      align-items: flex-end;
      gap: 2rem;

      &_item {

        &_header {
          font-size: 0.75rem;
          background-color: transparent;
          margin-left: 0;
          gap: 2rem;
        }

        &_description {
          font-size: 1rem;
          padding: 0;
          margin-left: 6.5rem;
          margin-top: 0.5rem;
          max-width: 28rem;
        }
      }
    }
  }
}