.testimonials {
  @include center(column);
  gap: 2rem;
  width: 100%;
  padding: 3rem 0 3rem 0;

  &_list {
    display: flex;
    gap: 2rem;
    width: 90%;
    padding-top: 4rem;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;

    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    &::-webkit-scrollbar {
      display: none;
    }

    &_item {
      @include center(column);
      gap: 2rem;
      text-align: center;
      width: 100%;
      height: 9rem;
      flex-shrink: 0;
      scroll-snap-align: start;
      padding: 5rem 0 3rem 0;
      background-color: #FAFAFA;
      position: relative;

      &_image {
        position: absolute;
        top: -2.5rem;
        width: 5rem;
        height: 5rem;
        z-index: 10;
        
        img {
          object-fit: cover;
          width: 100%;
        }
      }

      &_name {
        font-size: 1.25rem;
      }

      &_testimony {
        font-size: 0.85rem;
        padding: 0 1.5rem;
        max-width: 30rem;
      }
    }
  }

  &_carousel-nav {
    display: flex;
    gap: 0.25rem;

    button {
      padding: 0;
      display: block;
      width: 0.75rem;
      aspect-ratio: 1;
      border-radius: 50%;
      border: 1px solid $red;
      transition-duration: 200ms;
      cursor: pointer;
    }
  }
}

@media (min-width: 769px) {
  .testimonials {
    padding-block: 5rem;

    &_header {
      font-size: 2.25rem;
    }

    &_list {
      width: 100%;
      scroll-snap-type: none;

      &_item {
        max-width: 34rem;
        height: auto;

        &_testimony {
          font-size: 1rem;
          padding: 0 2.5rem;
        }
      }
    }
  }

}