$alpha: 0.1;
$alpha2: 0.01;

$red: hsl(12, 88%, 59%);
$transparentRed: hsl(12, 88%, 59%, $alpha);
$transparentRed2: hsl(12, 88%, 59%, $alpha2);
$lightRed: hsl(13, 100%, 96%);

$blue: hsl(228, 39%, 23%);
$darkBlue: hsl(233, 12%, 13%);

$white: hsl(0, 0%, 98%);
$grey: hsl(227, 12%, 61%);

// ### Primary

// Bright Red: hsl(12, 88%, 59%)
// Dark Blue: hsl(228, 39%, 23%)

// ### Neutral

// Dark Grayish Blue: hsl(227, 12%, 61%)
// Very Dark Blue: hsl(233, 12%, 13%)
// Very Pale Red: hsl(13, 100%, 96%)
// Vary Light Gray: hsl(0, 0%, 98%)