@import "abstracts";
@import "components";

:root {
  @include vietnam;
  font-size: 16px;
  overflow-x: hidden;

  body {
    margin: 0;
    background-color: $white;
    overflow-x: hidden;
    position: relative;

    a {
      text-decoration: none;
    }

    .App {
      display: flex;
      flex-direction: column;
      align-items: center;

      picture {
        position: absolute;
        top: 0;
        left: 0;

        img {
          object-fit: cover;
          width: 100%;
        }
      }
    }
  }
}