@import "abstracts";
@import "components";

:root {
  @include vietnam;
  font-size: 16px;
  overflow-x: hidden;

  body {
    margin: 0;
    overflow-x: hidden;
    position: relative;

    a {
      text-decoration: none;
    }

    .App {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}